* {
    margin: 0%;
    padding: 0%;
}
.row1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav1 {
    background-color: white;
    margin-left: 54px;
    margin-left: 54px;
    padding-left: 37px;
    padding-right: 37px;
}
.yih {
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
    display:flex;
    flex-direction: column;
}

.hey {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 251px;
    height: 94px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.nav2 {
    padding-left: 2rem;   
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    background-color:gray;
    height: 50px;
}
