* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.row1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav1 {
    background-color: white;
    margin-left: 54px;
    margin-left: 54px;
    padding-left: 37px;
    padding-right: 37px;
}
.yih {
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    
}


.hey {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 251px;
    height: 94px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.nav2 {
    padding-left: 2rem;   
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    background-color:gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
a {
   padding-left: 2rem;   
   padding-right: 1rem;
   text-decoration: none;
   color: black;
   padding-top: 8px;
   font-size: 20px;
   }
   h3{
       color: white;
       padding-bottom: 25px;
   }
   p{
       color:white;
   }
.main {
       background-color: blue;
       display: flex;
       justify-content: space-between;
        width: 100%;
        bottom: 0%;
}
.pilt1 {
      display: grid;
    grid-template-columns: auto auto;
    width: 200px;
    height: 150px;
 }
.box1{
     height: 4rem;
     background-color:gray;
     border: solid black 2px;
     margin: 10px;
     display: flex;
     justify-content: center;
}   
.box2{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content:flex-start;
} 
.box3{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
} 
.box4{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
} 
.box5{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
} 
.box6{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
} 
.box7{
    height: 4rem;
    background-color:gray;
    border: solid black 2px;
    margin: 10px;
    display: flex;
    justify-content: stretch;
}
.klass {
    flex-grow: 1;
}

@media all and (max-width: 600px) {
    .nav2{
        flex-direction: column;
    }
}
